<div id="headerBackground">
    <div id="header" class="clearfix">
        <div class="headerLeft headerLogo">Underground Books</div>
        <div class="headerLeft headerAuswahl" ng-click="path('/')">Home</div>
        
        <div class="headerRight headerAuswahl" ng-click="path('/login')">Login</div>
        <div class="headerRight headerAuswahl" ng-click="path('/signUp')">Sign Up</div>
    </div>
</div>

<div id="banner">
    <div id="bannerInhalt">
        <h1 class="abstand">Underground Books</h1>
        <p class="abstand">Nichts ist wahr, alles ist erlaubt</p>
            <img src="/Bilder/agenda.png"/>
    </div>
</div>